.admin_container{
    display: flex;
    flex-direction: row;
    background: white;
    position: fixed;
    height: 100%;
    top:0;
    width: 100%;
}
.admin_container .menuContainer{
    width: 15%;
    height: 100%;
    background: #404040;
}
.admin_container .contentContainer{
    width: 85%;
    overflow-y: scroll;
    padding: 20px;
}

.admin_container .contentContainer h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
}
