.managerArticleCellContainer{
    border-bottom: solid thin #ddd;
    display: flex;
    flex-direction: row;
    height: 80px;
}

.managerArticleCellContainer .cellAboutArticle{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-content: center;
    justify-content: center;
}
.managerArticleCellContainer .cellState{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.managerArticleCellContainer .cellOperation{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.managerArticleCellContainer .articleTitle{
    font-size: 15px;
    color: #000;
}
.managerArticleCellContainer .articleInfo span{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    color: #6b6b6b;
}
