.container {
    width: 64%;
		margin: 0 auto;
    height: 100%;
}




.nav {
    color: #636363;
    width: 64%;
    position: absolute;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}



h1  {
  font-weight: 300;
  margin: 0 0 0.25em 0;
  letter-spacing: -0.025em;
  font-size: 2.5em;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
}


.main {
	background-color: #ffffff;
	color: #636363;
	border-radius: 0.25em;
  padding: 2em;
  margin-top: 40px;

}

@media screen and (max-width: 1024px) {

  .container {
    width: 84%;
  }
  .nav {
    width: 84%;
  }
  .main {
    padding: 1em;
  }

}

@media screen and (max-width: 480px) {

  .container {
    width: 96%;
  }
  .nav {
    width: 96%;
  }
  .main {
    padding: 0.5em;
  }

}




.paginationContainer{
    text-align: center;
    margin: 30px 0;
}
