.container {
    display: flex;
    align-items: center;
    padding: 2em;
    border-bottom: solid 1px #dddddd;
}

.container h2 {
    color: black;
    font-size: 2em;
}

.container .content {
    flex: 1
}

.container .summary {
    margin: 0 0 2em 0;
}

.container .content .title {
    margin: 0 0 2em 0;
}

.container .content h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
}

.container .info {
    margin: 0 0 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .info .tag {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    color: #636363;
}

.container .info .tag img {
    margin-right: 5px;
}

.container .lastSpan {
    border-radius: 8px;
    border: solid 1px #dddddd;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2em;
    line-height: 2em;
    min-width: 6.25em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
